.idea/
.gradle/
/discovery-service/out/
/equipment-service/out/
/eureca-service/out/
/employee-service/out/

/employee-service/build/
/discovery-service/build/
/equipment-service/build/
/eureca-service/build/
