.idea/
.gradle/
/discovery-service/out/
/equipment-service/out/
/eureca-service/out/
/user-service/out/
/discovery-service/build/
/equipment-service/build/
/eureca-service/build/
/user-service/build/
